<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">
    <bean id="daoFileImpl" class ="com.sg.flooringmastery.dao.OrderDaoFileImpl" />
    <bean id="daoInMemImpl" class ="com.sg.flooringmastery.dao.OrderDaoInMemImpl" />
    
    <bean id="flooringMasteryControllerFileIO" class="com.sg.flooringmastery.ops.FlooringMasteryController" >
        <constructor-arg ref="daoFileImpl" />
    </bean>
    
    <bean id="flooringMasteryControllerInMem" class="com.sg.flooringmastery.ops.FlooringMasteryController" >
        <constructor-arg ref="daoInMemImpl" />
    </bean>
    
</beans>
